* {
    margin: 0;
    padding: 0;
}

.banner {
    position: fixed;
    background-image: url(./assets/bg2.png);
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 12%;
    margin: 0 auto;
    top: 0%;
    left: 0%;
    text-align: center;
    padding: 10px 10%;
}

h1 {
    font-size: 26px;
    display: inline-block;
    padding: 10px 30px;
    font-family: 'Kalam', cursive;
}

nav.nav {
    position: fixed;
    background-color:#FADAE2;
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    margin: 10px auto;
    top: 10%;
    left: 0%;
    padding: 0 15%;
    float: left;
    border-bottom: 4px solid #CC97C1;
}

ul {
    width: 100%;
    margin: 10 auto;
    padding: 15px 25%;
    max-height: 10%;
    list-style: none;
    text-align: center;
}

.nav a {
    float: left;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    text-decoration: underline;
    padding: 1.5px 30px;
    text-transform: uppercase;
}
    

.container {
    margin-top: 6%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.container img {
    margin-top:20%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
}

main {
    background-color: #C1D4E3;
}

.resume {
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #423636;
    margin: 0 auto;
    overflow-y: auto;
    padding: 10px 0px;
    text-align: center;
}